body {
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
    font-size: 380px;
}

.fa {
    color: #7c7d7d;
}

.social-links {
    font-size: 35px;
    position: absolute;
    right: 215px;
    margin-top: 315px;
}

.feedback {
    font-size: 23px;
    position: absolute;
    right: 30px;
    bottom: 191px;
    color: #cfd3d3;
}

.feedback:hover {
    color: #979899;
}

.photo {
    text-align: center;
}

.my_information {
    font-size: 50px;
    padding-top: 360px;
    line-height: 0.91;
}

.name {
    color: #a4a5a6;
    display: block;
    font-size: 80%;
    font-weight: 300;
}

.surname {
    color: #e0a80d;
    text-transform: uppercase;
    font-size: 120%;
}

.description1 {
    text-transform: none;
    font-weight: 300;
    font-size: 1.5rem;
    color: #979899;
    word-spacing: normal;
    line-height: 1.5em;
}

.description2 {
    text-align: left;
    color: #979899;
    font-size: 14px;
    box-sizing: inherit;
    line-height: 1.75;
    padding-top: 350px;
}

.border {
    margin-top: 20px;
    border: 2px solid #7c7d7d;
}

.location {
    width: 180px;
    height: 70px;
    display: inline-block;

}

.phone {
    padding-top: 25px;
    display: inline-block;
    width: 130px;
    height: 70px;
    padding-left: 100px;
}

.email {
    display: inline-block;
    padding-left: 200px;
}

.telegram {
    display: inline-block;
    padding-left: 120px;
}

.intro {
    color: #a4a5a6;
    font-size: 2.0rem;
    line-height: 1.45;
    text-transform: uppercase;
    text-align: right;
    margin-top: 10%;
}

.intro_item {
    font-weight: 300;
    font-size: 1.5rem;
    color: #a4a5a6;
    text-align: right;
}

.intro_items {
    margin-left: -10px;
}

.description_intro {
    font-size: 2.22rem;
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: #979899;
    top: 80px;
}

.skills {
    font-size: 10%;
    color: #979899;
}

.skills-level {
    font-size: 12px;
    text-align: center;
    color: #363737;
    background-color: #e0a80d;
}

.skills dd {
    margin: 0 0 10px;
    background-color: #464747;
}

.skill_item {
    font-weight: 400;
    font-size: 30px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    background-color: #363737;
    max-width: 800px;
    padding: 30px;
}

.popup_title {
    line-height: 50px;
    font-family: "Tahoma", sans-serif;
    margin-bottom: 1em;
    font-size: 30px;
}

.popup_text {
    line-height: 50px;
    font-family: "Tahoma", sans-serif;
    margin-bottom: 1em;
    color: #979899;
    font-size: 20px;
}

.popup_close {
    right: 20px;
    top: 10px;
    line-height: 50px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    float: right;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}